# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

# Distribution / packaging
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.venv

# Settings
settings*
